NoteManager/Service References/NoteManagerServiceReference/NoteManagerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55041/NoteManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" />
  <xs:element name="ConnectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="ConnectUserResult" nillable="true" type="q1:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" type="xs:int" />
        <xs:element minOccurs="0" name="dateCreation" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateModification" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="SaveNoteResult" nillable="true" type="q2:NoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="note" nillable="true" type="q3:NoteDTO" />
        <xs:element minOccurs="0" name="dateModification" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="UpdateNoteResult" nillable="true" type="q4:NoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteNoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="ListAllUsersResult" nillable="true" type="q5:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllNotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="ListAllNotesResult" nillable="true" type="q6:ArrayOfNoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllNotesOfUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="utilisateur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllNotesOfUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="ListAllNotesOfUserResult" nillable="true" type="q7:ArrayOfNoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recherche" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utilisateur" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercheNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" minOccurs="0" name="RechercheNoteResult" nillable="true" type="q8:ArrayOfNoteDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>