NoteManager/Service References/NoteManagerServiceReference/NoteManagerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NoteManagerWCF.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="NoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Creation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateModification" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HoraireCreation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HoraireModification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JourCreation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JourModification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Utilisateur" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoteDTO" nillable="true" type="tns:NoteDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="ArrayOfNoteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteDTO" nillable="true" type="tns:NoteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteDTO" nillable="true" type="tns:ArrayOfNoteDTO" />
</xs:schema>